
/*Contendor Paisaje*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.first{
  position: absolute;
  width: 65%;
  bottom: 0;
  left: 18%
}

.second {
  display: none;
  position: absolute;
  bottom: 1%;
  left: 25%;
}

.third {
  display: none;
  position: absolute;
  bottom: 20%;
  left: 25%;
  width: 40%
}

/* Por fórmula */
.col-1 {
  width: 8.333333%;
  border: 1px solid red;
  height: 300px;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}



[class*="container-"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}
/* Dependiendo de los tamaños del navegador */

/*desktop*/
@media (min-width: 1026px) and (max-width:1427px){
  .container-third {
    background-image: url('../assets/images/sunny-day.jpg');
  
  }
  .third  {
		display: block;
  }
 	.second {
		display: none;
  }
  .first {
		display: none;
	}

}

/*tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container-second {
    background-image: url('../assets/images/night.jpg');
  }
	.second {
		display: block;
	}

	.third {
		display: none;
	}

  .first{
		display: none;
	}
	
}

/*phones*/
@media (min-width: 400px) and (max-width: 767px) {
   .container-first{
    background-image: url('../assets/images/dawn.png');
  }
}



